# Google C/C++ Code Style Settings

Language: Cpp
BasedOnStyle: Google
Standard: c++20
UseTab: Never
ColumnLimit: 180
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

# Additional
AlignAfterOpenBracket: AlwaysBreak

InsertBraces: true
ExperimentalAutoDetectBinPacking: true
SortIncludes: false